.checkout-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6fa;
  padding: 20px;
  height: 100%;
}

.checkout-header h1 {
  font-size: 24px;
  color: #4CAF50;
  text-align: center;
}

.checkout-main-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 100vh;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .checkout-main-content {
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items vertically */
    height: auto; /* Adjust height for better mobile display */
  }

  .checkout-header h1 {
    font-size: 22px; /* Slightly reduce font size for medium-sized screens */
  }
}

@media (max-width: 480px) {
  .checkout-container {
    padding: 10px; /* Reduce padding for very small screens */
  }

  .checkout-header h1 {
    font-size: 20px; /* Further reduce font size for very small screens */
  }

  .checkout-main-content {
    gap: 15px; /* Reduce the gap between elements */
  }
}
