/* src/components/MenuItem.css */
.menu-item-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .menu-item-name {
    margin: 0;
    text-align: left;
  }
  .menu-item-price {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
  }
  .menu-item-add-to-cart {
    
    background: #FFFFFF;
    color: #61Ae5A;
    border: 1px solid #61AE5a;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 60%;
  }
  /* src/components/MenuItem.css */
.menu-item-image {
  width: 100%;
  height: auto;
  max-height: 150px; /* Adjust max-height as needed */
  border-radius: 5px;
  margin-bottom: 10px;
}

.flexbutton-card{
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;

}

/* Default styles for the toast */
.toast-container {
  width: 100%; /* Full width by default */
  max-width: 100%; /* Ensure it uses the full screen width */
}

.Toastify__toast {
  width: 100% !important; /* Force toast to take full width */
  text-align: center; /* Center the text */
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  padding: 16px;
  font-size: 14px;
}

/* Styling for success and error messages */
.Toastify__toast--success {
  background-color: #61AE5A; /* Green */
  color: white;
}

.Toastify__toast--error {
  background-color: #f44336; /* Red */
  color: white;
}

/* Responsive styling for mobile screens */
@media (max-width: 768px) {
  .toast-container {
    width: 100% !important; /* Ensure full width on smaller screens */
  }

  .Toastify__toast {
    width: 100% !important; /* Full width on mobile */
    font-size: 14px; /* Adjust font size for better readability */
    padding: 12px; /* Adjust padding for mobile */
  }
}
